{% extends 'base.html' %}
{% block title %} About the Author {% endblock %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        <p>
            Full-time computer science bachelors student at the Krakow University of Economics.
        </p>
        <p>
            Interested in software-development, data-science and machine learning.
        </p>
        <p>
            Currently studying data-science and Arabic in my free time.
        </p>
        <p>
            Hobbies include piano🎹 & guitar🎸, language-learning🌍, dungeons & dragons🎲
        </p>
    </li>
</ul>
{% endblock %}