{% extends 'base.html' %}
{% block title %} Products {% endblock %}

{% block content %}
{% for product_id in product_ids %}
    <ul class="list-group list-group-horizontal-md">
        <a href="/product/{{ product_id }}" class="list-group-item list-group-item-action" aria-current="true">
            {{ product_id }}
        </a>
        <li class="list-group-item flex-fill">
            <p>/no. opinions</p>
        </li>
        <li class="list-group-item flex-fill">
            <p>/no. disadvantages</p>
        </li>
        <li class="list-group-item flex-fill">
            <p>/no. advantages</p>
        </li>
        <li class="list-group-item flex-fill">
            <p>/average score</p>
        </li>
        <li class="list-group-item flex-fill">
            <div class="col-6">
                <div class="row">
                    <a href="#">download .csv</a>
                </div>
                <div class="row">
                    <a href="#">download .xlsx</a>
                </div>
                <div class="row">
                    <a href="#">download .json</a>
                </div>
            </div>
        </li>
    </ul>
    
{% endfor %}
{% endblock %}